main{
    background-color: white;
    height: 100%;
    width: 100%;
    align-content: center;
}

main video{
    width: 100%;
    height: auto;
}

.phrase-background{
    width: 100%;
    height: 500px;
    background: linear-gradient(135deg, #1e3652 20%, #4892C1, #1e3652 80%);
    color: white;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid #1e3652;
}

.countdown-container{
    background-color: white;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    height: 500px;
}

.countdown-title{
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 30px;
}

.countdown-content{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 100px;
}

.singapore-info{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.singapore-info img{
    width: 70%;
    border: 0;
    border-radius: 5%;
    box-shadow: 0 1px 0px 1px rgb(136, 136, 136);
}

.singapore-info span{
    width: 100%;
    text-align: center;
}

.countdown{
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.countdown div{
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    justify-content: flex-end;
}

.countdown div span{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.countdown div span:first-child{
    font-size: 100px;
}

.time-separator{
    font-size: 100px;
}

.sepline{
    width: 80%;
    border: 1px solid gray;
    position: relative;
    left: 10%;
}

footer{
    width: 100%;
    height: 600px;
}

.partners{
    display: flex;
    width: 100%;
    height: 200px;
    padding: 75px;
    box-sizing: border-box;
    justify-content: space-between;
    height: auto;
    align-items: center;
}

.partners a{
    width: 15%;
}

.partners a img{
    width:100%;
    height: fit-content;

}



