@font-face {
    font-family: 'Guggenheim';
    src: url('GuggenheimSans-ExtraLight.ttf') format('truetype');
}

.text{
    font-family: 'Guggenheim';
    position: absolute;
    font-size: 100px;
    align-content: center;
    box-sizing: border-box;
    padding: 2%;
    background-color: white;
    transition: top 1s ease-out;
    top: -300px;
    right: 0;
}